@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
   font-family: 'Montserrat';
}
:root{
   --main_color:#1c1a29;
   --second_color:#fdda66;
   --p:#ffffff;
}
::-webkit-scrollbar {
   width: 5px;
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   background-color: var(--second_color);
   border-radius: 5px;
}
::-webkit-scrollbar-track {
   background: none;
}
.social-bar{
   position: fixed;
   right: 0;
   top: 65%;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 99;
}
.icon{
   text-decoration: none;
   padding: .2rem;
   display:flex;
   transition: .5s;
}
.social-bar a i{
   color: #252525;
   border-radius: 50%;
   padding: .5rem;
   background-color: var(--second_color);
   box-shadow: 5px 5px 10px black;
   transition: .5s;
}
.social-bar i:hover{
   scale: 1.3;
}
.body{
   background-color: var(--main_color);
}
html{
   scroll-behavior: smooth;
}
#inicio{
   content: "";
   top: 0;
   left: 0;

   background-size: cover;
   z-index: -1;
   max-height: 50vh;
}
.header img{
   width: 60px;
   padding-bottom: .5rem;
}
@keyframes desplazamiento {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(5px);
   }
   100% {
      transform: translateY(0);
   }
}
.imagen-desplazamiento {
   animation-name: desplazamiento;
   animation-duration: 1.4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.header{
   background-image: linear-gradient(180deg , #000000af 0%, #000000a9 100%), url('../img/bginicio-min.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 0 5px 10px #000000;
   min-height: 50vh;
   display: flex;
   align-items: center;
}
.header span{
   color: var(--p);
}
.header-content{
   text-align: center;
}
.header-content h1{
   font-weight: 500;
   font-size: 2.5rem;
   line-height: 2.5rem;
   color: var(--second_color);
   text-transform: uppercase;
   margin-bottom: 1rem;
}
.header-content p{
   font-size: 1rem;
   color: var(--p);
   font-weight: 500;
   padding: 0 2.5rem;
   margin-bottom: 1rem;
}
#inicio .contenido header .contenido-header h1 img{
   text-align: center;
   max-width: 60px;
   color: var(--p);
}
/* SECCION SOBRE MI */
#sobremi{
   max-width: 1200px;
   margin: auto;
   margin-top: 1rem;
   padding: 100px 15px;
   color: #1b1b1b;
   display: flex;
}
#sobremi .contenedor-foto{
   max-width: 400px;
   margin-right: 80px;
}
#sobremi .contenedor-foto img{
   width: 400px;
   border-radius: 20px;
   box-shadow: 1px 1px 15px 1px #000000;
}
#sobremi .boton_cv{
   display: flex;
   justify-content: center;
}
#sobremi .boton_cv a{
   color:#000000;
   background-color: var(--second_color);
   padding: .5rem;
   font-weight: 500;
   box-shadow: 1px 1px 15px 1px #000000;
   transition: all .3s;
}
#sobremi .boton_cv a:hover{
   scale: 1.1;
   transition: all .3s;
}
#sobremi .sobremi{
   margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
   font-weight: 600;
   padding: .5rem;
   font-size: 22px;
   text-transform: uppercase;
   color: var(--p);
   text-align: center;
}
#sobremi .sobremi h3{
   position: absolute;
   font-weight: 500;
   background-color:var(--second_color);
   box-shadow: 3px 5px 10px #000000;
   border-radius: 0 20px;
   padding: .5rem;
   color: #000000;
   font-size: 15px;
   text-transform: uppercase;
   text-align: left;
}
#sobremi .sobremi p{
   background-color: #11111156;
   border-radius: 0 20px;
   padding: 2.2rem;
   font-size: 17px;
   color: var(--p);
   margin-top: 1.6rem;
   text-align: left;
}
#sobremi a{
      display: flex;
      justify-content: center;
      transition: .2s all;
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
}
.skills{
   margin-top: 4rem;
}
.skills img{
   width: 50px;
   margin: .7rem;
   transition: all .3s;
}
.skills img:hover{
   scale: 1.3;
   transition: all .3s;
}
.skills_list{
   display: flex;
   justify-content: center;
   justify-items: center;
   flex-wrap: wrap;
}
/* SECCION DE PORTFOLIO */
.proyecto-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1200px;
   margin: 0 auto;
}
.proyecto{
   flex: 0 0 calc(33.33% - 20px);
   margin: 10px;
   margin-bottom: 1rem;
   padding: 3px;
   box-sizing: border-box;
   text-align: left;
   max-width: 400px;
}
.proyecto-content span{
   position: absolute;
   padding: 10px;
   margin: 5px;
   font-size: .7rem;
   font-weight: 600;
   color: var(--main_color);
   text-transform: uppercase;
   background-color: var(--second_color);
   box-shadow: 1px 3px 5px #5f5f5f;
   transition: all .3s;

}
.proyecto-content span:hover{
   scale: 1.1;
   transition: all .3s;
}
.titulo-proyectos{
   color: var(--p);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
   text-transform: uppercase;
   font-size: 1.4rem;
   font-weight: 600;
}
.proyecto-img{
   max-width: 100%;
   height: auto;
   border-radius: 4px;
   transition: .4s all;
}
.proyecto-img:hover{
   transition: .4s all;
   box-shadow: 1px 3px 5px #000000;
}
.proyecto h2{
   text-transform: uppercase;
   position: absolute;
   text-align: center;
   font-size: 1.2rem;
   padding-top: 0;
   color: #000000;
   font-weight: 500;
   background-color: var(--second_color);
   box-shadow: 3px 5px 10px #000000;
   border-radius: 0 20px;
   padding: .5rem;
}
.proyecto p{
   background-color: #11111156;
   border-radius: 0 20px;
   padding: 2rem;
   font-size: .9rem;
   color: var(--p);
   margin: 10px;
   margin-top: 15px;
}
.btn_git{
   display: flex;
   justify-content: center;
}
.btn_git a{
   background-color: var(--second_color);
   box-shadow: 3px 5px 10px #000000;
   color:#000000;
   text-decoration: none;
   text-transform: uppercase;
   padding: .5rem;
   font-weight: 500;
   transition: all .3s;
}
.btn_git a:hover{
   color: #000000;
   scale: 1.1;
   transition: all .3s;
}
/* FOOTER */
.footer{
   padding: .5rem;
   background-color: #0f0d18;
   margin-top: 2rem;
}
.footer-content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-content p{
   padding: 5px;
   display: flex;
   color: #ebeaea;
   font-size: .9rem;
}
/* SECCION RESPONSIVE */
@media(max-width:991px){
   .header h1{
      font-size: 1.3rem;
      margin-bottom: auto;
   }
   #inicio .social-bar{
      position: fixed;
      right: 0;
      top: 75%;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items:center;
      z-index: 99;
   }
   #sobremi{
      padding: 50px 0;
      display: flex;
      flex-direction: column;
   }
   #sobremi p{
      margin: 5px;
      padding: .5rem;
   }
   #sobremi .btn-sobremi{
      display: flex;
      padding: 0 2rem;
      transition: .2s all;
      color: #1a1a1a;
      text-transform: uppercase;
      text-decoration: none;
   }
   #sobremi .contenedor-foto{
      max-width: 600px;
      margin: auto;
   }
   #sobremi .contenedor-foto img{
      width: 200px;
   }
   #sobremi .sobremi .titulo-seccion{
      text-align: center;
      padding: 15px;
      font-size: 1.2rem;
   }
   #sobremi .sobremi h3{
      font-size: 1rem;
      text-align: left;
   }
   #sobremi .sobremi .skills h2{
      padding-bottom: 1rem;
   }
   .proyecto-content{
      display: block;
      flex-direction: column;
   }
   .proyecto{
      margin: 0 auto;
      margin-top: 1.5rem;
      margin-bottom: 1.8rem;
      max-width: 300px;
   }
   .titulo-proyectos{
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
   }
   .proyecto-img:hover{
      scale: none;
      box-shadow: none;
   }
   .footer-content{
      display: block;
      text-align: center;
   }
   #flags{
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 5px;
      z-index: 100;
   }
   .flags__item{
      margin-bottom: 10px;
      margin: 5px;
      cursor: pointer;
   }
   .flags__item img{
      width: 30px;
   }
   .flags__item img:hover{
      scale: 1.3;
   }
}
#flags{
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding: 20px;
   z-index: 100;
}
.flags__item {
   margin-bottom: 10px;
   margin: 10px;
   cursor: pointer;
}
.flags__item img{
   width: 30px;
   transition: all .3s;
}
.flags__item img:hover{
   scale: 1.2;
   transition: all .3s;
}