@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
   font-family: 'Montserrat';
}
::-webkit-scrollbar {
   width: 5px;
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   background-color: #fdda66;
   border-radius: 5px;
}
::-webkit-scrollbar-track {
   background: none;
}
.social-bar{
   position: fixed;
   right: 0;
   top: 65%;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 99;
}
.icon{
   text-decoration: none;
   padding: .5rem;
   display:flex;
   transition: .5s;
}
.social-bar a i{
   color: #252525;
   border-radius: 50%;
   padding: .5rem;
   background-color: #fdda66;
   box-shadow: 5px 5px 10px black;
   transition: .5s;
}
.social-bar i:hover{
   scale: 1.3;
}
.contedorglobal{
   max-width: 1200px;
}
.bodyp{
   background-color: #1c1a29;
}
html{
   scroll-behavior: smooth;
}
#inicio{
   content: "";
   top: 0;
   left: 0;

   background-size: cover;
   z-index: -1;
   max-height: 50vh;
}
.header img{
   width: 60px;
   padding-bottom: .5rem;
}
@keyframes desplazamiento {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(5px);
   }
   100% {
      transform: translateY(0);
   }
}
.imagen-desplazamiento {
   animation-name: desplazamiento;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.header{
   background-image: linear-gradient(180deg , #000000af 0%, #000000a9 100%), url('./img/bginicio.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 50vh;
   display: flex;
   align-items: center;
}
.header-content{
   text-align: center;
}
.header-content h1{
   font-size: 2.5rem;
   line-height: 5rem;
   color: #fdda66;
   text-transform: uppercase;
   margin-bottom: 1rem;
}
.header-content p{
   font-size: 1rem;
   color: #ffffff;
   font-weight: 300;
   padding: 0 2.5rem;
   margin-bottom: 1.8rem;
}
.header a{
   padding: .8rem 2rem;
   background-color: #fdda66;
   transition: .2s all;
   color: #2e2e2e;
   text-transform: uppercase;
   text-decoration: none;
}
#inicio .presentacion img {
   animation: bounce 3s infinite;
}
#inicio .contenido header .contenido-header h1 img{
   text-align: center;
   max-width: 60px;
   color: #ffffff;
}
#inicio .contenido .presentacion{
   height: 100vh;
   margin: auto;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#inicio .contenido .presentacion .bienvenida{
   color: #fdda66;
   font-size: 16px;
   margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: 500;
}
#inicio .contenido .presentacion h2{
   font-size: 40px;
   margin-bottom: 25px;
   text-align: center;
   color: #00c4fa;
}
#inicio .contenido .presentacion .descripcion{
   max-width: 700px;
   margin: 25px auto;
   font-size: 18px;
   text-align: center;
   transition: .5s;
}
#inicio .contenido .presentacion a{
   padding: .8rem 2rem;
   background-color: #fdda66;
   transition: .2s all;
   color: #2e2e2e;
   text-transform: uppercase;
   text-decoration: none;
}
#inicio .contenido .presentacion a:hover{
   background-color: #fdda668e;
   transition: .2s all;
}
/* SECCION SOBRE MI */
#sobremi{
   max-width: 1100px;
   margin: auto;
   margin-top: 1rem;
   padding: 100px 15px;
   color: #1b1b1b;
   display: flex;
}
#sobremi .contenedor-foto{
   max-width: 400px;
   margin-right: 80px;
}
#sobremi .contenedor-foto img{
   width: 400px;
   border-radius: 20px;
   background: linear-gradient(#fdda66,#111111);
   box-shadow: 15px 15px 25px #000000;
}
#sobremi .sobremi{
   margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
   font-size: 22px;
   text-transform: uppercase;
   color: #ffffff;
   text-decoration-thickness: 3px;
   text-align: center;
}
#sobremi .sobremi h2{
   font-size: 34px;
   font-weight: bold;
   margin: 0px;
   letter-spacing: 2px;
   text-align: center;
}
#sobremi .sobremi h2 span{
   color: #fdda66;
}
#sobremi .sobremi h3{
   color: #ffffff;
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 20px;
   letter-spacing: 1px;
   text-align: center;
}
#sobremi .sobremi p{
   font-size: 17px;
   color: #ffffff;
   margin-bottom: 1.5rem;
   text-align: left;
}
#sobremi .sobremi a{
   padding: .8rem 2rem;
   margin: 0 auto;
   background-color: #fdda66;
   transition: .2s all;
   color: #1a1a1a;
   box-shadow: 3px 5px 10px #000000;
   text-transform: uppercase;
   text-decoration: none;
}
#sobremi .sobremi a:hover{
   color: #ffffff;
   background-color: #fdda669a;
}
/* SERVICIOS */
.skills{
   border-radius: 10px;
   padding: 20px;
   color: #ffffff;
}
.skills{
   margin-top: 4rem;
}
.skill-list{
   display: flex;
   justify-content: center;
   padding-top: 2rem;
}
.skills img{
   width: 50px;
   margin: .4rem;
   transition: all .3s;
}
.skills img:hover{
   scale: 1.3;
   transition: all .3s;
}
/* SECCION DE PORTFOLIO */

/* FOOTER */
.footer{
   padding: .5rem;
   background-color: #0f0d18;
}
.footer-content{
   display: flex;
   justify-content: center;
}
.footer-parrafo p{
   color: #ffffff3f;
   font-size: .7rem;
}
/* SECCION RESPONSIVE */
@media(max-width:991px){
   #inicio .contenido .presentacion .descripcion{
      font-size: 1rem;
      margin: 10px;
      padding-bottom: 1rem;
   }
   .header h1{
      font-size: 1.3rem;
   }
   #inicio .social-bar{
      position: fixed;
   right: 0;
   top: 75%;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 99;
   }
   #inicio .contenido .presentacion h2{
      font-size: 1rem;
   }
   #sobremi{
      padding: 50px 0;
      display: flex;
   }
   #sobremi .contenedor-foto{
      max-width: 600px;
      margin: auto;
   }
   #sobremi .contenedor-foto img{
      display: none;
   }
   #sobremi .sobremi .titulo-seccion{
      text-align: center;
      padding: 15px;
   }
   #sobremi .sobremi h3{
      font-size: 1rem;
      text-align: left;
   }
   .skill-list{
      padding: 1rem;
   }
   #sobremi .sobremi .skills h2{
      padding-bottom: 1rem;
   }
}