@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
   font-family: 'Montserrat';
}
/* INTRO */
.intro,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit ;
}
.intro{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   z-index: 100;
   background-color: #000000;
   transition: 1s;
}
.social-bar{
   position: fixed;
   right: 0;
   top: 65%;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 99;
}
.icon{
   text-decoration: none;
   padding: .5rem;
   display:flex;
   transition: .5s;
}
.icon a i:hover{
   color: #2c2c2c;
   transition: .5s;
}
.social-bar a i{
   color: #fff;
   border-radius: 50%;
   padding: .5rem;
   background-color: #9c9203;
   border: .1px solid #a5a5a5;
   box-shadow: 5px 5px 10px black;
   transition: .5s;
}
.intro img{
   top: 100px;
   position: absolute;
}
.logo{
   font-size: 2.5rem;
   color: white;
}
.logo-parts{
   position: relative;
   display: inline-block;
   bottom: -60px;
   font-size: 15px;
   opacity: 0;
   color: white;
}
.logo-parts.active{
   bottom: 0;
   opacity: 1;
   transition: ease-in-out .5s ;
   color: white;
}
.logo-parts.fade{
   bottom: 250px;
   opacity: 0;
   transition: ease-in-out .5s;
   color: white;
}
.intro__parrafo{
   margin-top: 25px;
   font-size: 22px;
   color: gray;
}
/* END INTRO */

.contedorglobal{
   max-width: 1200px;
}
.bodyp{
   background-color: #1c1a29;
}
html{
   scroll-behavior: smooth;
}
#inicio{
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(180deg , #000000af 0%, #000000a9 100%), url('./img/bginicio.jpg');
   background-size: cover;
   z-index: -1;
}
#inicio .presentacion img{
   width: 60px;
   padding-bottom: .5rem;
}
@keyframes bounce {
   0%, 100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px);
   }
}
#inicio .presentacion img {
   animation: bounce 3s infinite;
}
#inicio .contenido header .contenido-header h1 img{
   text-align: center;
   max-width: 60px;
   color: #ffffff;
}
#inicio .contenido .presentacion{
   height: 100vh;
   margin: auto;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#inicio .contenido .presentacion .bienvenida{
   color: #9c9203;
   font-size: 16px;
   margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 5px;
}
#inicio .contenido .presentacion h2{
   font-size: 40px;
   margin-bottom: 25px;
   text-align: center;
   color: #00c4fa;
}
#inicio .contenido .presentacion .descripcion{
   max-width: 700px;
   margin: 25px auto;
   font-size: 18px;
   text-align: center;
   transition: .5s;
}
#inicio .contenido .presentacion a{
   padding: .8rem 2rem;
   background-color: #928903;
   transition: .2s all;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
}
#inicio .contenido .presentacion a:hover{
   background-color: #9289039c;
   transition: .2s all;
}
/* SECCION SOBRE MI */
#sobremi{
   max-width: 1100px;
   margin: auto;
   padding: 100px 15px;
   color: #1b1b1b;
   display: flex;
}
#sobremi .contenedor-foto{
   max-width: 400px;
   margin-right: 80px;
}
#sobremi .contenedor-foto img{
   width: 400px;
   border-radius: 20px;
   background: linear-gradient(#000000,#928903);
   box-shadow: 15px 15px 25px #000000;
}
#sobremi .sobremi{
   margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
   font-size: 22px;
   text-transform: uppercase;
   color: #cecdcd;
   text-decoration-thickness: 3px;
   text-align: center;
}
#sobremi .sobremi h2{
   font-size: 34px;
   font-weight: bold;
   margin: 0px;
   letter-spacing: 2px;
   text-align: center;
}
#sobremi .sobremi h2 span{
   color: #9c9203;
}
#sobremi .sobremi h3{
   color: #dadada;
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 20px;
   letter-spacing: 1px;
   text-align: center;
}
#sobremi .sobremi p{
   font-size: 17px;
   line-height: 25px;
   color: #d1d1d1;
   margin-bottom: 1.5rem;
   text-align: left;
}
#sobremi .sobremi a{
   padding: .8rem 2rem;
   background-color: #9c9203;
   transition: .2s all;
   color: #d8d8d8;
   box-shadow: 3px 5px 10px #000000;
   text-transform: uppercase;
   text-decoration: none;
}
#sobremi .sobremi a:hover{
   color: #ffffff;
   background-color: #00c4fa48;
}
/* SERVICIOS */
.skills{
   text-align: center;
   padding: 20px;
   color: #fff;
}
.skills{
   background-image: linear-gradient(#0000009d,#00000098),url(/img/IMG_20220802_085659274.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.skill-list{
   list-style: none;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}
.skill-list li img{
   width: 100px;
   max-width: 100%;
   height: auto;
}
/* SECCION DE PORTFOLIO */
#portfolio {
   padding: 100px 0;
   margin: auto 10px;
}
#portfolio .titulo-seccion{
   text-align: center;
   font-size: 22px;
   text-transform: uppercase;
   color: #ffffff;
}
#portfolio .fila{
   display: flex;
   justify-content: space-between;
   margin: 30px 0;
}
#portfolio .fila .proyecto{
   max-width: 400px;
   margin: 0 10px;
   position: relative;
   overflow: hidden;
}
#portfolio .fila .proyecto img{
   width: 100%;
   height: 250px;
   filter: grayscale(1);
   object-fit: cover;
   transition: .5s;
}
#portfolio .fila .proyecto:hover img{
   filter: grayscale(0);
}
#portfolio .fila .proyecto .info{
   position: absolute;
   left: 0;
   background-color: #000000cc;
   color:#00ffb7;
   width: 100%;
   padding: 10px;
   opacity: 0;
   bottom: -40px;
   transition: .5s;
}
#portfolio .fila .proyecto:hover .info{
   opacity: 1;
   bottom: 0;
}
/* SECCION CONTACTO */
#contacto{
   padding: 100px 15px;
   background-image: linear-gradient(#000000b0,#000000c0), url(img/laptop-1478822_1920-min.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#contacto .titulo-seccion{
   margin-bottom: 20px;
   font-size: 22px;
   text-transform: uppercase;
   color: aliceblue;
   text-align: center;
}
#contacto .contenedor-form{
   max-width: 1100px;
   margin: auto;
}
#contacto .contenedor-form .fila{
   margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
   display: flex;
   justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
   resize: none;
   color: #fff;
   background-color: #474747be;
   padding: 20px;
   border: none;
}
#contacto .contenedor-form .mitad input{
   width: 48%;
}
#contacto .contenedor-form .input-full{
   width: 100%;
}
#contacto .btn-enviar{
   border: none;
   display: block;
   margin: auto;
   padding: .8rem 2rem;
   background-color: #01c5fc88;
   transition: .2s all;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
}
#contacto .btn-enviar:hover{
   background-color: #00c4fa4d;
   transition: .2s all;
}
.altproject{
   border: 1px solid white;
   border-radius: 12px;
   text-align: center;
   background-color: #00000047;
   padding: 10px ;
}
.altproject .altproject__title{
   color: white;
   font-size: 25px;
}
.altproject .altproject__parrafo{
   color: white;
}
/* FOOTER */
.footer{
   padding: .5rem;
   background-color: #000000;
}
.footer-content{
   display: flex;
   justify-content: center;
}
.footer-parrafo p{
   color: #ffffff3f;
   font-size: .7rem;
}
/* SECCION PROJECTOS */
.bodyPro{
   background-image: linear-gradient(rgba(0, 0, 0, 0.864),rgba(0, 0, 0, 0.872)), url(img/capinicio.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#navProj{
   background-color: rgba(0, 0, 0, 0.513);
   color: white;
   margin: auto;
   height: 60px;
   transition: .5s;
   text-align: center;
   font-size: 33px;
}
#navProj .btnVolver{
   color: #ffffff;
   text-decoration: none;
   font-size: 75%;
}
#navProj .btnVolver:hover{
   color: rgb(0, 159, 167);
}
#descripcionProj .parrafop p{
   text-align: justify;
   color: white;
   margin: 20px;
}
#descripcionProj h2{
   text-align: center;
   color: white;
   text-shadow: 0 0 15px white;
   transition: .5s;
}
#descripcionProj p{
   text-align: center;
   margin: 40px;
   transition: .5s;
}
#descripcionProj span{
   text-shadow: 0 0 15px #00c4fa;
   color: #00c4fa;
}
#seccionV .github{
   text-align: center;
   margin: 20px;
}
#seccionV i{
   color: white;
   font-size: 40px;
   text-shadow: 0 0 15px white;
   transition: .5s;
}
#seccionV i:hover{
   text-shadow: 0 0 15px rgb(0, 190, 190);
}
#seccionV .contvideo{
   margin: 20px;
   padding: 20px;
   text-align: center;
}
#seccionV .videoCG{
   border: solid 2px #ffffff;
   box-shadow: 0 0 10px rgb(255, 255, 255);
}
#seccionV .h2Git{
   color: white;
   text-align: center;
}
/* SECCION RESPONSIVE */
@media(max-width:991px){
   #inicio .contenido .presentacion .descripcion{
      font-size: 1rem;
      margin: 10px;
      padding-bottom: 1rem;
   }
   #inicio .social-bar{
      position: fixed;
   right: 0;
   top: 75%;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 99;
   }
   #inicio .contenido .presentacion h2{
      font-size: 1rem;
   }
   #sobremi{
      padding: 50px 0;
      display: flex;
   }
   #sobremi .contenedor-foto{
      max-width: 600px;
      margin: auto;
   }
   #sobremi .contenedor-foto img{
      display: none;
   }
   #sobremi .sobremi .titulo-seccion{
      text-align: center;
      padding: 15px;
   }
   #sobremi .sobremi h2{
      font-size: 25px;
      text-align: center;
   }
   .skill-list li img{
      width: 50px;
   }
   .skill-list{
      padding: 1rem;
   }
   #portfolio .fila .proyecto{
      max-width: 400px;
      margin: 0 10px;
      position: relative;
      overflow: hidden;
   }
   #portfolio .fila .proyecto img{
      width: 100%;
      height: 250px;
      filter: grayscale(1);
      object-fit: cover;
      transition: .5s;
   }
   #portfolio{
      padding: 50px 15px;
   }
   #portfolio .fila{
      display: block;
   }
   #portfolio .fila .proyecto{
      margin:  10px auto;
   }
   #portfolio .fila .proyecto img{
      width: 100%;
   }
   #contacto{
      padding: 50px 15px;
   }
   #contacto .contenedor-form .mitad{
      margin-bottom: 15px;
      display: block;
   }
   #contacto .contenedor-form .mitad input{
      width: 100%;
      margin-bottom: 15px;
   }
   #descripcionProj{
      width: 95%;
      height: 275px;
   }
   #descripcionProj p{
      font-size: 16px;
   }
   #seccionV .videoCG{
      width: 100%;
   }
   #seccionV .contvideo{
      display: flex;
      margin: 0;
   }
   #navProj{
      display: block;
      width: 100%;
      top: 61px;
      left: 0;
      padding: 10px 0;
   }
}